{{ block title }}Rezultati kroga{{ endblock }}
{{ block content }}
<h1>Rezultati kroga {{ subsession.round_number }}</h1>

<div class="card mb-3">
    <div class="card-body">
        <h3>Izid kroga</h3>
        <p class="mb-1">Pravilna odločitev je bila: <strong>Možnost {{ successful_option }}</strong></p>
        <p>Izbrali ste: <strong>Možnost {{ player_choice }}</strong></p>

        {% if player_choice == C.ABSTAIN %}
        <div class="alert alert-info">
            🤝 Niste izbrali odgovora.
        </div>
        {% elif is_correct %}
        <div class="alert alert-success">
            ✅ Pravilno! Zaslužili ste <strong>{{ base_payoff }}</strong> v tem krogu.
        </div>
        {% else %}
        <div class="alert alert-danger">
            ❌ Napačno.
            {% if base_payoff < 0 %} Izgubili ste <strong>{{ base_payoff }}</strong> v tem krogu.
                {% else %}
               V tem krogu ste brez zaslužka.
                {% endif %}
        </div>
        {% endif %}
        {% if endowment_round > 0 %}
        <div class="alert alert-info">
            Vaš začetni sklad za ta krog je bil <strong>{{ endowment_round }}</strong>.
            <!--
            {% if transaction_cost > 0 %}
            <br> Transakcijski stroški za ta krog so bili <strong> {{ transaction_cost }} </strong> </br>
            {% endif %}
            -->
        </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-body">
            <h4>Vaši zaslužki</h4>
            <p class="mb-1"><strong>Ta krog:</strong> {{ round_payoff }}</p>
            <p class="mb-0"><strong>Skupno:</strong> {{ total_payoff }}</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4>Spremljanje svetovalca</h4>
            <p class="mb-1">V tem krogu
                {% if player_choice == advisor_option %}
                 ste sledili priporočilu svetovalca.
                {% else %}
                niste sledili priporočilu svetovalca.
                {% endif %}
            </p>
            <p class="mb-0">Priporočilu svetovalca ste sledili <strong>{{ total_followed_adviser }}</strong>
                krat
            </p>
        </div>

    </div>
    <p class="mt-3">Sledi naslednji krog...</p>
</div>
{{ next_button }}
{{ endblock }}
