{{ block title }}Rezultati kroga{{ endblock }}
{{ block content }}
<h1>Rezultati za {{ subsession.round_number }} krog</h1>

<div class="card mb-3">
    <div class="card-body">
        <h3>Rezultati kroga</h3>
        <p class="mb-1">Uspešna možnost v tem krogu je bila: <strong>Možnost {{ successful_option }}</strong></p>
        <p>Vi ste izbrali: <strong>Možnost {{ player_choice }}</strong></p>

        {% if player_choice == C.ABSTAIN %}
        <div class="alert alert-info">
            🤝 Odločili ste se vzdržati od investiranja. Brez odbitkov.
        </div>
        {% elif is_correct %}
        <div class="alert alert-success">
            ✅ Pravilno! zaslužili ste <strong>{{ base_payoff }}</strong> v tem krogu.
        </div>
        {% else %}
        <div class="alert alert-danger">
            ❌ Napačno.
            {% if base_payoff < 0 %} Izgubili ste <strong>{{ base_payoff }}</strong> v tem krogu.
                {% else %}
                Brez zasluženih točk v tem krogu.
                {% endif %}
        </div>
        {% endif %}
        {% if endowment_round > 0 %}
        <div class="alert alert-info">
            Vaša začetna vrednost v tem krogu je bila <strong>{{ endowment_round }}</strong>.
            <!--
            {% if transaction_cost > 0 %}
            <br> Transakcijski stroški v tem korgu so znašali <strong> {{ transaction_cost }} </strong> </br>
            {% endif %}
            -->
        </div>
        {% endif %}
    </div>

    <div class="card">
        <div class="card-body">
            <h4>Vaši zaslužki</h4>
            <p class="mb-1"><strong>V tem krogu:</strong> {{ round_payoff }}</p>
            <p class="mb-0"><strong>Skupaj:</strong> {{ total_payoff }}</p>
        </div>
    </div>

    <div class="card mt-4">
        <div class="card-body">
            <h4>Odzivi na priporočilo svetovalca</h4>
            <p class="mb-1">V tem krogu
                {% if player_choice == advisor_option %}
                ste sledili priporočilu svetovalca.
                {% else %}
                niste sledili priporočilu svetovalca.
                {% endif %}
            </p>
            <p class="mb-0">Priporočilu svetovalca ste skupaj sledili <strong>{{ total_followed_adviser }}</strong>
                krat.
            </p>
        </div>

    </div>
    <p class="mt-3">Sledi naslednji krog...</p>
</div>
{{ next_button }}
{{ endblock }}
